/* Global Image Styling */
.md-content__inner img {
    display: block;
    margin: 20px auto;
    max-width: 80%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Caption Styling - Apply {: .caption } to text in Markdown */
.caption {
    display: block;
    text-align: center;
    color: grey;
    font-style: italic;
    margin-top: 10px;
}

/* Make header title look clickable */
.md-header__title {
    cursor: pointer;
}